[Unit]
Description=butler API Server
After=butler-db-server.service
After=network-online.target
Wants=butler-db-server.service

[Container]
Image=localhost/butler/api:latest
ContainerName=butler-api-server

# Pod
Pod=butler.pod

EnvironmentFile=%h/.config/containers/systemd/server/.env.secrets
EnvironmentFile=%h/.config/containers/systemd/server/.env.variables
Volume=%h/butler:/usr/src/app
Volume=%h/.logs/butler:/usr/src/logs
PodmanArgs=--pull=never

[Service]
Restart=always

[Install]
WantedBy=default.target
