[Unit]
Description=butler Nginx Server
After=network-online.target

[Container]
Image=localhost/butler/nginx:latest
ContainerName=butler-nginx-server

# Pod
Pod=butler.pod

Volume=%h/butler:/usr/src/app
Volume=%h/.logs/butler:/usr/src/logs
Volume=%h/butler/server/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
Volume=%h/butler/server/nginx/certs:/etc/nginx/ssl:ro

[Service]
Restart=always

[Install]
WantedBy=default.target
